@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cadastro do Livros e Filmes</h1>
    <p class="lead">CRUD ASP.NET padrão de projeto MVC.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Filmes</h2>
        <p>
            Esse projeto tem o objetivo de armazenar os filmes assistidos.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Livro</h2>
        <p>
            Esse projeto tem o objetivo de armazenar os livros assistidos.
        </p>
    </div>
</div>